<div class="comment" hx-target=".comment">
    <p><em>On {{ comment.created_time }}, {{ comment.author }} wrote:</em>
    </br>
    {% if comment.text %}{{ comment.text }}{% else %}<em>[deleted]</em>{% endif %}</p>
    {% if comment.author == request.user %}
    <button hx-trigger="click" hx-delete="{% url 'entity:delete_comment' comment.id %}">
        delete
    </button>
    {% endif %}
    {% if show_replies > 0 %}
    <div class="replies">
      {% for reply in comment.replies.all %}
        {% include "comment.html" with comment=reply show_replies=show_replies|add:"-1" %}
      {% endfor %}
    </div>
    {% endif %}
</div>